click
Sphinx
coverage
flake8
pandas
numpy
pathlib
scikit-learn
imbalanced-learn
joblib
fastapi
uvicorn
pydantic
mlflow>=2.0
pytest
python-jose[cryptography]
python-multipart
python-dotenv
# passlib[bcrypt]
passlib==1.7.4
bcrypt==3.1.7
dvc